.title{
    color: #211030;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
 }
 body{
    background-color: rgb(147, 205, 209)! important
 }
 #comparisonoflatitude{
    margin-top: 60px;
    text-align: left;
 }
 p{
    font-family: Verdana, Geneva, sans-serif;
 }
 
 .dataframe{
    margin-top: 60px;
 }
 