<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CTA</title>


  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <!-- <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
  <!-- <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Our CSS -->
  <!-- <link href="../static/css/grayscale.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grayscale.css') }}">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <i class="fas fa-train fa-2x mb-2 text-black"></i>
      <a class="navbar-brand js-scroll-trigger" href="#page-top">CTA</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Analytics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Group</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Train Analytic Data</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">A look into Chicago Transist Authority train routes.</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Map</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Routes</h2>
          <p class="text-white-50">Using the CTA API
            <a href="https://www.transitchicago.com/developers/traintracker/"" target="_blank" >(preview page)</a>. We were able to track
            live train data for each stop on each train route in Chicago and create an interactive map.</p>
        </div>
      </div>
      <div id= "map"></div>
      <!-- <img src="{{ url_for('static', filename='img/chicago-map.jpg') }}" class="img-fluid" alt=""> -->
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
            <div id= "graph_table"></div>
          <img class="img-fluid mb-3 mb-lg-0" src="{{ url_for('static', filename='img/train.jpg') }}" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Arrival Times</h4>
            <p class="text-black-50 mb-0">A break down of the arrival times for each train route.</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
            <div id= "data_table"></div>
          <img class="img-fluid" src="{{ url_for('static', filename='img/train.jpg') }}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Data</h4>
                <p class="mb-0 text-white-50">Put description of another graph here.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="fas fa-train fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Group Members</h2>

          

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-3 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fab fa-github text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Byford Boyd</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="https://github.com/Phiremouse" target="_blank">Github</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fab fa-github text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Tommy Ghormley</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="https://github.com/tghorms" target="_blank">Github</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fab fa-github text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Vince Bruno</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="https://github.com/vincejbruno" target="_blank">Github</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fab fa-github text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Peiyun Huang</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="https://github.com/peiyunhuang" target="_blank">Github</a>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://twitter.com/cta?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"  target="_blank" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
        </div>

      </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Project 3 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="../vendor/jquery/jquery.min.js"></script> -->
  <!-- <link rel="stylesheet" type="js" href="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"> -->
  <!-- <script type="text/javascript" scr="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script> -->
  <script type="text/javascript" src="/static/vendor/jquery/jquery.js"></script>

  <!-- // <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="js" href="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"> -->
  <!-- <script type="text/javascript" scr="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js') }}"></script> -->
  <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Plugin JavaScript -->
  <!-- <script src="../vendor/jquery-easing/jquery.easing.min.js"></script> -->
  <!-- <link rel="stylesheet" type="js" href="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"> -->
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.js') }}"></script> -->
  <script type="text/javascript" src="/static/vendor/jquery-easing/jquery.easing.js"></script>

  <!-- Custom scripts for this template -->
  <!-- <script src="../static/js/grayscale.min.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/grayscale.min.js') }}"> -->
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/grayscale.js') }}"></script> -->
  <script type="text/javascript" src="/static/js/grayscale.js"></script>

  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
  <script type="text/javascript">
    myFunc({{data|safe}})
 </script>
</body>

</html>